name: CLI Tests

on:
  push:
    paths:
      - "cli/**"
      - ".github/workflows/cli_tests.yml"
  pull_request:
    paths:
      - "cli/**"
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./cli
    steps:
      - uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version-file: package.json
          cache: npm

      # Working around https://github.com/npm/cli/issues/4828
      - name: Install dependencies
        run: |
          cd ..
          npm install --no-package-lock --ignore-scripts

      - name: Build client library (required by CLI)
        run: |
          cd ..
          npm run build-client

      - name: Build CLI
        run: npm run build

      - name: Explicitly pre-install test dependencies
        run: npx -y @modelcontextprotocol/server-everything --help || true

      - name: Run tests
        run: npm test
        env:
          NPM_CONFIG_YES: true
          CI: true
